################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Labs/Lab2/Debug
/Labs/Lab2/.vs/Lab2/v16/Browse.VC.opendb
/HW0/Poem/.vs/Poem/v16/Browse.VC.opendb
/HW0/Favorite Game/.vs/Favorite Game/v16/Browse.VC.opendb
/Labs/Lab3/.vs/Lab3/v16/Browse.VC.opendb
/Labs/Lab4/.vs/Lab4/v16/Browse.VC.opendb
